body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app{
  height: 100%;
  flex: 1;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.card{
  background: none;
}
