body{
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app{
  height: 100%;
  flex: 1;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.component-center{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
  margin: 0;
}

.card{
  background: none;
  background-color: rgba(192,192,192,0.7);
}

.splash{
  max-width: 800px;
}

.jumbotron{
  background-color: rgba(192,192,192,0.7);
}

.required:after{
   content:" *";
   color:red;
}

.note{
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.note:hover{
  background-color: gray;
}

.note a{
  color: black;
  text-decoration: none;
}

.note p{
  margin: 0;
}
